@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
  background: white;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  width: 40%;
  position: absolute;
}

.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #0404cc;
  padding: 15px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus {
  color: black;
}

.searchButton {
  position: absolute;
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid #0404cc;
  background: #0404cc;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.white-head {
  background: white;
}
.white-head span {
  padding: 0.5em 1em 0.7em;
}
.white-head span i {
  cursor: pointer;
}
.white-head span i.fa-twitch {
  position: relative;
  color: #717171;
  top: 7px;
  font-size: 24px;
  cursor: pointer;
}
.white-head span i.fa-twitch:hover {
  color: #212121;
}
.white-head span input {
  width: 80%;
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 0.5em;
  font-size: 16px;
  border: #d2d2d2 1px solid;
}
.white-head span input:focus {
  border: #673AB7 1px solid;
  box-shadow: inset 0px 1px 2px 0px #d2d2d2;
  outline: none;
}
.white-head span input:hover {
  box-shadow: inset 0px 1px 2px 0px #d2d2d2;
  border: #b6b6b6 1px solid;
}

.black-head {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  background: #212121;
  color: white;
  display: flex;
  display: none;
  text-align: center;
  align-items: center;
}
.black-head br {
  display: none;
}
.black-head button {
  cursor: pointer;
  margin: 0 5px;
  border: 0px;
  border-radius: 4px;
  padding: 6px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  outline: 0px transparent;
}
.black-head .yes {
  background: #673AB7;
  color: white;
}
.black-head .no {
  background: white;
  color: #212121;
}
.black-head p {
  padding: 0;
  margin: 10px auto;
}

.primary-head {
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  background: #673AB7;
  color: white;
}
.primary-head h1 {
  font-size: 20px;
  margin: 0;
  padding-top: 0.6em;
  padding-left: 1em;
  padding-bottom: 0.6em;
}

.flex-bar {
  display: flex;
  justify-content: space-between;
}

.toggle-bar {
  display: none;
  background: white;
  font-size: 14px;
  font-weight: bold;
  border-bottom: #b6b6b6 1px solid;
  text-transform: uppercase;
  text-align: center;
}
.toggle-bar .active {
  border-bottom: #673AB7 2px solid;
}
.toggle-bar div {
  cursor: pointer;
  padding: 0.75em;
}

.content {
  padding-bottom: 15px;
}
.content h2 {
  font-size: 14px;
  padding-left: .5em;
}

.card {
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  background: white;
  padding: 0;
}
.card div {
  border-bottom: 1px #e2e2e2 solid;
  margin: 0;
}
.card div img {
  border-radius: 50px;
  height: 60px;
  padding: 12px;
}
.card div .name {
  font-weight: bold;
  padding-right: 1em;
  color: #212121;
}
.card div .inactive {
  color: #717171;
}
.card div .status a {
  color: #717171 !important;
}

.inactive {
  color: #717171 !important;
}

@media (max-width: 400px) {
  .status {
    display: none;
  }

  .fa-twitch {
    display: none;
  }
}
@media (min-width: 768px) {
  .toggle-bar {
    margin: 6em auto 0 4em;
    padding: 0em;
    width: 140px;
    text-transform: none;
    text-align: left;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25), 0 1px 4px rgba(0, 0, 0, 0.1);
  }
  .toggle-bar .active {
    background: #f2f2f2;
    border-top: #d2d2d2 1px solid;
    border-bottom: 0px;
    border-left: 3px #673AB7 solid;
  }
  .toggle-bar div {
    width: 100%;
  }
}
.add-new-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background: #FF4081;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 53px;
  width: 53px;
  border-radius: 100em;
  z-index: 9001;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16);
  transition: all 500ms ease-in-out;
}

.add-new-btn:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.23), 0 10px 40px rgba(0, 0, 0, 0.19);
  background: #FF60A1;
  cursor: pointer;
}

.tool-tip, .tool-tip-tri {
  background: #212121;
  color: #b6b6b6;
  position: fixed;
  bottom: 85px;
  right: 10px;
  z-index: 9000;
  padding: 1em;
  border-radius: 6px;
  display: none;
}

.tool-tip-tri {
  z-index: 8999;
  border-radius: 0;
  bottom: 80px;
  right: 40px;
  padding: 0.5em;
  transform: rotate(45deg);
}

.add-wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  text-align: right;
  background: rgba(0, 0, 0, 0.5);
}
.add-wrap button {
  margin: 1em 0 0;
  padding: .5em 1em;
  font-size: 12px;
  border-radius: 3px;
  font-weight: bold;
  background: #673AB7;
  color: white;
  border: 0;
}
.add-wrap input {
  width: 100%;
  border: 0;
  outline: none;
  padding: .3em 0 .3em;
  border-bottom: 2px #673AB7 solid;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
}
.add-wrap div {
  background: white;
  max-width: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
  margin: 4em auto;
  padding: 1em;
}

.footer {
  padding: 24px;
}

.render-list {
  padding-bottom: 10px;
}

.inactive-container,
.inactive-title,
.offline-container,
.offline-title,
.online-container,
.online-title {
  display: none;
}

.clear {
  display: none;
  color: #717171;
  float: right;
  padding: 16px;
  cursor: pointer;
}

.error-message {
  display: none;
  padding-top: 18px;
  text-align: left;
  color: #F44336;
}

@media (max-width: 520px) {
  .black-head p {
    padding: 0 10px;
  }
  .black-head br {
    display: block;
  }
  .black-head button {
    margin-top: 8px;
  }
}
.clear-skies {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  width: 100%;
  height: 60vh;
  display: none;
}
.clear-skies p {
  color: #717171;
  font-size: 24px;
  margin: 20px;
}

.footer {
  border-top: 1px #b6b6b6 solid;
  margin: 24px;
  color: #717171;
  text-align: center;
}
.footer a {
  color: #FF4081;
}

.content {
  min-height: 80vh;
}

#custom-preview {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: white;
  top: 0;
  left: 0;
  background-image: url("https://mca62511.github.io/twitch-channel-monitor/images/share.jpg");
  background-size: cover;
  background-position: center;
}
